<%- include('includes/head.ejs', { title: 'search-main' }) %>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/main.css">
  </head>

  <body>
    <%- include('includes/header.ejs') %>
      <form action="/search-main" method="POST">
        <div id="header-container">
          <input type="search" id="main-search-input" name="search" placeholder="원하는 이미지를 검색해보세요">
          </a><button id="main-search-button">검색</button>
        </div>
      </form>
      <link rel="stylesheet" href="/styles/imagesSort.css">
      <% var k = 0;for (const image of images) { %>
        <div class="column">
                <a href="/image/<%= image._id%>">
                  <img src="<%= image.imagePath %>" width="300" height="300" alt="The image of the user.">
                </a>
                <% if (image.user) {%>
                  <p>made by. <br>
                    <%= image.user.email %>
                  </p>
                  <% } %>
          </div>
        <% k++; if (k === 4) { k = 0 %>
          <hr>
        <% } %>
      <% } %>
  </body>

  </html>